<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="PHPTravels.Resources.Listener"/>
</listeners>
<test thread-count="2" name="homePage">
    <classes>
      <class name="PHPTravels.Tests.test_validateHomePage"/>
      <class name="PHPTravels.Tests.test_validateHotelsPage"/>
    </classes>
</test> <!-- Test -->
<test thread-count="2" name="login">
    <classes>
      <class name="PHPTravels.Tests.test_checkLogin"/>
    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->